.hex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hex > div {
  width: 37.5rem;
  margin: auto;
}

.hex header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.hex input {
  border: 1px solid #e1e1e1;
  padding: 0.5rem;
  width: 35.7rem;
}

.hex label {
  display: block;
  margin-top: 1rem 0.2rem;
}

.hex section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hex button {
  border: none;
  font-family: "arial";
  font-size: 0.8em;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: #0069d9;
  padding: 0.6em;
  margin-top: 1.5rem;
}

.hex :nth-child(8) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35.7rem;
  color: #b5cea8;
  background-color: #282c34;
  font-weight: bolder;
  padding: 0.85rem;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
